*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;    
    background-color: #24252A;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 0;
}
.lefthead{
    color: white;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 700;
}
.custom-nav-items{
    font-size: 16px;
    font-family: Roboto;    
}
.custom-nav-discord{
    font-size: 20px;
    font-family: Roboto;
    border: 1px solid #0786A9;
    border-radius: 25px;
    padding: 0px 10px;
    background-color: #0786A9;
    font-weight: 800;
}
.custom-use{
    color: #2588CC;
    margin-bottom: 5px;
    font-size: 30px;
}
.heading{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.subheading{
    margin: 5px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    color: rgb(177, 174, 174);
}
/* .content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
} */
.custom-menubar{
    width: 24px;
    height: 24px;
}
.card1{    
    height: 300px;
    background: #212123;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    position: relative;            
}
.ad{
    position: absolute;
}
.card2{
    
    height: 300px;
    background: #212123;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    
}
.card3{
    
    height: 300px;
    background: #212123;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    
}
.med{
    color: #2588CC;
    font-size: 24px;
    align-items: center;
}
.cardcontent{
    align-items: center;
    padding: 15px;
    margin-top: 70px;
    justify-content: center;
    display: flex;
    color: #fff;
    flex-direction: column;
}
.more{
    border: 1px solid black;
    border-radius: 20px;    
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
}
.p-content{
    text-align: center;
}
#twit{
    height: 20px;
}
#tube{
    height: 20px;
}
#insta{
    height: 20px;
}