*{
    box-sizing: border-box;
}
.body{
    justify-content: center;
    display: flex;
    align-items: center;
    

}
.card {
    width: 950px;
    height: 550px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: #FFCC9D;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    
}
.bodycard{
    width: 250px;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: #ffff;
    align-items: center;
    margin-top: 50px;
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
        

}
.shoe1{
    position: absolute;
    top: -80px;
    width: 450px;
}
.shoe2{
    position: absolute;
    top: -70px;
}
.lorem{
    align-items: center;
    display: flex;
    margin: 0px 0px;
}
p{
    padding: 0px 10px;
    margin: 0px 5px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.cardbody{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 95px;
    margin: 50px 10px;
}
.price{
    color: #FFCC9D;
    font-size: 40px;
    font-family: Georgia;
    font-weight: 100;
    height: 22px;
    margin-top: 20px;
    margin-bottom: 45px;
}
.add{
    border: 1px solid #FFCC9D;
    border-radius: 24px;
    background-color: #F67E1D;
    padding: 5px 12px;
    color: white;
    margin-top: 24px;
}